<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página</title>
    <link rel="stylesheet" href="../CSS/styles.css">
    <!--<link rel="icon" href="../images/FB_IMG_1629041096770.jpg">-->
</head>
<body>
    <h1><%= header %></h1>
    <h2>Bienvenid@ <%= name %></h2><br>
    <p><%= content %></p><br>
    <h3>Esta página se hizo en la materia de <%= materia %></h3>
    <p>Aún falta cambiarle <%= cambio %></p>
</body>
</html>
